<a href="https://colab.research.google.com/github/sefinehtesfa34/webscraping/blob/webscrappingBranched/List_of_the_top_companies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
result=requests.get("https://companiesmarketcap.com/")

In [ ]:
soup=BeautifulSoup(result.text,"lxml")
table=soup.find("table")
header=table.find("tr")
columns=[]
for thead in header.find_all("th"):
  columns.append(thead.text)
df=pd.DataFrame(columns=columns)

for row in table.find_all("tr")[1:]:
  data=row.find_all("td")
  listData=[x.text for x in data]
  df.loc[len(df)]=listData
df.drop(columns="Price (30 days)",inplace=True)
df.Name=df.Name.str[5:]
df["Price"]=df["Price"].str[1:]
df.Country=df.Country.str[3:]
df["Market Cap"]=df["Market Cap"].str[1:-2]
df.Today=df.Today.str[:-1]
listVal=[]
for i in df.Name:
  index=i.index(f"\n")
  if i.lower() not in listVal and  i.upper() not in listVal and  i.capitalize() not in listVal:
    listVal.append(i[:index])
listVal
df.Name=listVal
df.to_excel("top_IT_companies.xlsx",index=False)
read=pd.read_excel("top_IT_companies.xlsx")

In [ ]:
read.head()

   Rank                Name  Market Cap   Price  Today    Country
0     1               Apple       2.730  167.30  -0.94        USA
1     2           Microsoft       2.158  287.93  -0.96        USA
2     3        Saudi Aramco       2.010   10.06   0.00  S. Arabia
3     4   Alphabet (Google)       1.726   2,609  -1.39        USA
4     5              Amazon       1.553   3,052  -1.33        USA

In [ ]:
# df["Market Cap"]=df["Market Cap"].str[:-2]

In [ ]:
df.head(50)

   Rank                       Name Market Cap    Price  Today      Country
0     1                      Apple      2.730   167.30  -0.94          USA
1     2                  Microsoft      2.158   287.93  -0.96          USA
2     3               Saudi Aramco      2.010    10.06   0.00    S. Arabia
3     4          Alphabet (Google)      1.726    2,609  -1.39          USA
4     5                     Amazon      1.553    3,052  -1.33          USA
5     6                      Tesla     869.83   856.98  -2.21          USA
6     7        Berkshire Hathaway      707.96  472,257   0.34          USA
7     8                       TSMC     618.74   119.31  -0.38       Taiwan
8     9            Meta (Facebook)     589.41   206.16  -0.75          USA
9    10                     NVIDIA     589.15   236.42  -3.53          USA
10   11                    Tencent     574.83    59.10  -2.52        China
11   12                       Visa     482.24   222.69  -0.85          USA
12   13             JPMorgan Chase     447.91   152.14   0.47          USA
13   14               UnitedHealth     440.16   467.81  -0.54          USA
14   15          Johnson & Johnson     430.06   163.36  -1.07          USA
15   16                    Samsung     422.70    62.23  -0.93     S. Korea
16   17                       LVMH     394.99   155.54   0.88       France
17   18           Procter & Gamble     383.29   159.90   0.05          USA
18   19                    Walmart     382.76   137.99  -0.64          USA
19   20            Kweichow Moutai     378.69   301.46   1.06        China
20   21           Bank of America      371.25    45.96  -0.24          USA
21   22                 Mastercard     364.48   369.95  -1.00          USA
22   23                 Home Depot     362.21   346.87  -0.31          USA
23   24                     Nestlé     352.63   128.21   0.39  Switzerland
24   25                Exxon Mobil     328.43    77.36  -1.11          USA
25   26                    Alibaba     326.97   118.99  -4.37        China
26   27                      Roche     322.39    46.34  -0.71  Switzerland
27   28                Walt Disney     275.57   151.36  -1.04          USA
28   29                     Pfizer     272.39    48.53  -0.76          USA
29   30                  Coca-Cola     270.48    62.54   0.68          USA
30   31                     Toyota     261.83   188.97   1.30        Japan
31   32                       ASML     261.33   647.83  -0.40  Netherlands
32   33                    Chevron     258.51   133.42  -0.14          USA
33   34                       ICBC     257.53     0.61   0.00        China
34   35                     AbbVie     254.62   144.03  -0.65          USA
35   36                  BHP Group     252.75    69.34   2.09    Australia
36   37                      Cisco     241.28    57.21   2.58          USA
37   38                   Broadcom     239.46   579.99   0.17          USA
38   39                    Pepsico     232.01   167.71   0.58          USA
39   40                     Prosus     230.20    73.39  -3.57  Netherlands
40   41                  Eli Lilly     229.87   240.31  -0.27          USA
41   42               Novo Nordisk     229.57   100.81  -1.60      Denmark
42   43                     Costco     227.33   512.67  -0.45          USA
43   44                       Nike     226.04   142.95   0.11          USA
44   45                    Verizon     225.96    53.83   0.47          USA
45   46                    L'Oréal     219.59   410.15   1.16       France
46   47        Reliance Industries     219.36    32.42  -0.78        India
47   48                Wells Fargo     216.16    55.63  -0.93          USA
48   49   Thermo Fisher Scientific     211.65   537.14  -0.63          USA
49   50                    Comcast     211.42    46.64  -0.28          USA